#wrapper {
	width:960px;
	margin:0px auto;
	min-height:600px;
}

#header_holder {
	height: 75px;
	width:100%;
}

#header {
	height:80px;
	margin:0px auto;
	width:960px;
}

#header_left {
	margin-top:20px;
	width: 400px;
}

	#header_left img {
		width:65px;
	}
	
	#header_left h1 {
		font-size: 36px;
		font-family: calibri;
		padding: 0px;
		margin: 0px;
		color:#555;
	}

#login {
	margin-top:20px;
}
	
	#login form {
	height:20px;
	}
	
	#login ul li {
	width:150px;
	}
	
	#login ul li a {
		text-decoration:none;
	}
	
#logo_holder {
	height: 55px;
	margin-bottom:20px;
	width:100%;
}

#header_right {
	margin-top:30px;
}
	
	#header_right ul li a:hover {
		color: rgb(68, 68, 68);
	}

	#header_right ul li a:hover {
		color: rgb(68, 68, 68);
	}

#footer {
	height: 55px;
	width:100%;
}
	#footer .footer_nav{
		width:960px;
		margin:0px auto;
	}

	#footer .inline { width:600px; }
	#footer a:hover { color:#087C9C; }
	#footer a { text-decoration:none;}
	#footer b { color:#438CD0; }
	
	#footer .copyright{
		margin-left:5px;
		color: grey;
		display: block;
		padding-bottom: 15px;
	}

#main_content_holder{
	width:100%;
}

	#main_content {
		width:960px;
		margin:0px auto;
	}
	
	#main_content .row {
			height: 500px;
			margin:0px auto;
		}
		
		#main_content .col-lg-3 {
		margin-top: 20px;
		}

#about {
	width:400px;
	margin-top:25px;
}

#registration_form form {
	border:1px solid #DDD;
	border:--webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:10px;
	width:390px;
}

#registration_form .btn {
	margin-bottom:10px;
}

#howitworks {
	height:200px;
	margin-top:25px;
	width:400px;
}

#screenshots td {
	width:300px;
}

#screenshots {
	margin-top: 25px;
}

#edit_form {
	height:500px;
	margin-right:100px;
	margin-top: 20px;
	width:500px;
}

#list_submenu {
	margin-bottom: 25px;
}
