{% load staticfiles %}
{% load i18n %}
{% load url from future %}
{% load ifregextags %}
{% load widget_tweaks %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap/css/bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap/css/bootstrap-responsive.min.css" %}">
  <title>{% block title %}{{ site.domain }}{% endblock %}</title>
  {% block meta %}{% endblock %}
  {% block extrahead %}{% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">

	<div id="wrapper">
		<div id="header_holder">
			<div id="header">
				<div id="header_left" class="pull-left">
					<h1 class="pull-left"><a href="{% url 'home' %}">Socialassistanceregisrty.com</a></h1>
					{% block subtitle %}
						{% if user.is_authenticated %}
						<span></span>
						{% else %}
						<h4>{% trans 'Application intake software' %}</h4>
						{% endif %}
					{% endblock %}
					<div class="clearfix"></div>
				</div>
				
				{% if user.is_authenticated %}
				<div id="header_right" class="pull-right">
				{% else %}
				<div id="login" class="pull-right">
				{% endif %}
					{% block right_header %}
					{% if user.is_authenticated %}
						<ul class="inline">
							<li class="">
								<a href="{% url "faq" %}"><i class="icon-question-sign"></i> FAQ</a>
							</li>	
							<li class="">
								<a href="{% url 'userena_profile_detail' user.username %}"><i class="icon-user"></i> Profile</a>
							</li>
							<li class="">
								<a href="{% url "userena_signout" %}"><i class="icon-off"></i> Logout</a>
							</li>	
						</ul>
					{% endif %}
					{% endblock %}
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		
		{% if user.is_authenticated %}
		<div id="header_nav_holder">
			<div class="navbar">
			 	<div class="navbar-inner">
			 		<div id="header_nav">
				    	<ul class="nav">
				      		<!--li class="active"></li-->
				      		<li><a href="{% url 'home' %}"><i class="icon-home"></i> Home</a></li>
							    <li><a href="#"><i class="icon-file"></i> Something</a></li>
				    	</ul>
			    	</div>
			  	</div>
				<div class="clearfix"></div>
			</div>
		</div>	
		{% endif %}

		<div id="main_content_holder">
			<div id="main_content">
		        <div id="list_submenu">
		        {% ifregex "^/.*/accounts/" request.path %}
                {% ifnotregex "^/.*/accounts/.*/signup/complete/$" request.path %}
                {% ifnotregex "^/.*/accounts/.*/disabled/$" request.path %}
                {% ifnotregex "^/.*/accounts/activate/.*" request.path %}
                {% ifnotregex "^/.*/accounts/signout/" request.path %}
  		            <a class="btn btn-info" href="{% url 'userena_profile_detail' user.username %}">{% trans "My profile" %}</a>
  		            <a class="btn btn-info" href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit profile" %}</a>
  		            <a class="btn btn-info" href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a>
  		            <a class="btn btn-info" href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a>
  		            <a class="btn btn-info" href="{% url 'userena_profile_list' %}">{% trans "View Profiles" %}</a>
  		        {% endifnotregex %}
                {% endifnotregex %}
                {% endifnotregex %}
                {% endifnotregex %}
		          {% endifregex %}
		          {% ifregex "^/.*/APP/" request.path %}
		            
		            
		            
		          {% endifregex %}
	        	</div>
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>