{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
<form class="userena" action="" method="post" id="password_change_form">
    <h1>{% trans "Change Password" %}</h1>
    {% csrf_token %}
    {{ form.as_p }}
  <input type="submit" value="{% trans "Change password" %}" />
</form>
{% endblock %}
