{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block content %}
{% block profile_details %}
{% block profile_definition_list %}
<div class="row pull-left">
  <div class="col-lg-3">
    <div class="thumbnail">
      <img src="{% static "css/images/profile.jpg" %}" style="width: 300px; height: 200px;">
    </div>
   </div>
</div>
<div id="edit_form" class="pull-right">
      <legend><b>{% trans "Profile" %}</b></legend>
      {% if profile.user.username %}
        <p><b>{% trans "Username:" %}</b> {{ profile.user.username }}</p>
      {% endif %}
      {% if profile.location %}
        <p><b>{% trans "Location:" %}</b> {{ profile.location }}</p>
      {% endif %}
      {% if profile.website %}
        <p><b>{% trans "Website:" %}</b> {{ profile.website|urlize }}</p>
      {% endif %}
       {% if profile.about_me %}
        <p><b>{% trans "About me:" %}</b> {{ profile.about_me }}</p>
      {% endif %}
</div>
{% endblock %}
{% endblock %}
{% endblock %}
